.overlay{
    z-index: 2; /*show ontop of everything */
    background: rgb(0, 0, 0, 0.8); /*make it a slightly transparent black overlay*/
    /*Set the overlay's size */
    width: 100%;
    height: 100vh;
    /*set overlay areay*/
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column; /*Use flex column. Display: flex will be set in code */
    
  }
  
  button{
    all: unset; /*Remove the default css from buttons */
    /*Make own css */
    color: white;
    font-weight: 500;
    font-size: 1.3vw;
    border: white 0.1vw solid;
    border-radius: 15px;
    text-align: center;
  }
  
  #game-over-overlay{
    display: none;
  }
  
  .stat-area{
    display: flex;
    flex-direction: column; /*Use flex column.*/
    /*Use absolute position to center the area*/
    width: 20%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
  }
  .game-over{
    color: white;
    font-weight: 500;
    font-size: 1.7vw;
    width: 100%;
    text-align: center;
    margin-top: 2vh;
  }
  
  .final-text{
    color: white;
    font-size: 1.3vw;
    font-weight: 400;
  
  }
  
  .stat-text{
    color: aqua;
  }
  .split-flex-row{
    display: flex;
    justify-content: space-between;
  }
  
  .exit-button{
    margin-top: 7vh;
    padding-top: 1vh;
    padding-bottom: 1vh;
    width: 70%;
  }