/* Basic body styling for background and top margin */
body {
    padding-top: 100px;
    background: url("Images/about-banner-1.png") no-repeat center center;
    background-size: cover;
    min-height: 700px;
    align-items: center;
    justify-content: center; /* Aligns content to the left */
    text-align: center; /* Aligns text to the left */
    color: white;
}

h4 {
    color: white;
}
/* Style for profile picture with fixed width and auto height */
.ui-w-80 {
    width: 80px;
    height: auto;
}

/* Style for buttons, ensuring the cursor indicates a clickable element */
.btn {
    cursor: pointer;
}

/* Style for hidden file input used in image upload */
.account-settings-fileinput {
    position: absolute;
    visibility: hidden;
    width: 1px;
    height: 1px;
    opacity: 0;
}

/* General styling for list-group items within account settings links */
.account-settings-links .list-group-item {
    padding: 0.85rem 1.5rem;
    border-color: rgba(24, 28, 33, 0.03);
}

/* Style for active state of list-group items */
.account-settings-links .list-group-item.active {
    font-weight: bold;
    background: transparent;
    color: #4E5155;
    border-color: #3c4a64 !important;
}


/* Responsive design adjustments for smaller screens */
@media (max-width: 768px) {
    .account-settings-links .list-group-item {
        padding: 0.85rem 1rem; /* Reduced padding */
    }
}

/* Styles for select2 component if used */
.account-settings-multiselect ~ .select2-container {
    width: 100%;
}

/* Enhanced label styling for better readability */
.form-group label {
    font-weight: bold;
}

/* Rounded borders for input fields */
.form-control {
    border-radius: 0.25rem;
}

/* Button styles */
.btn-primary {
    background-color: #3c4a64  !important;
    border-color: #3c4a64 !important;
    color: white !important;
}

.btn-default {
    background-color: white !important;
    color: #333 !important;
    border: 1px solid #ccc !important;
}

.btn-primary:hover {
    background-color: white !important;
    color: #3c4a64 !important;
}

.btn-default:hover {
    background-color: #1A1E26 !important;
    color: white !important;
}

.draw-icon {
    background: url('Images/gacha.png') no-repeat center center;
    background-size: contain;
    width: 50px; /* Icon size */
    height: 50px; /* Icon size */
}

.earn-more {
    color: #3c4a64; /* Orange color for the link */
    font-weight: bold;
    text-decoration: none; /* Removes underline from link */
}

.credit-icon {
    background: url('Images/credits.png') no-repeat center center;
    background-size: contain;
    width: 50px; /* Icon size */
    height: 50px; /* Icon size */
}

.shipping-icon {
    background: url('Images/shipping.png') no-repeat center center;
    background-size: contain;
    width: 50px; /* Icon size */
    height: 50px; /* Icon size */
}




