/* import poppins font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body { /*Setting the entire body to be the Poppins font from google fonts*/
    font-family: 'Poppins', sans-serif;
    color: white;
}


/*-----------------------Start of header styling------------------------*/

header {
    position: fixed;
    width: 100%;
    top: 0%;
    right: 0;
    z-index: 1000;
    background-color: rgba(0,0,0,0);
    transition: all 1s ease;
}

.navbar-brand {
    font-weight: bold; /* Adjust as needed */
}
.navbar-nav .nav-link {
    color: #FFF; /* For white text */
}
.navbar-nav .nav-link.active {
    border-bottom: 2px solid #00B2FF; /* Active item underline color */
}
.nav-icons {
    font-size: 1.25rem; /* Adjust size as needed */
    color: #FFF; /* For white icons */
}

/*End of navigation bar styling*/


/*-----------------------End of header styling------------------------*/


/*-----------------------Start of hero /intro section styling------------------------*/
.intro-video {
    display: flex;
    position: relative; 
}

.intro-video video { /*Setting the video to be 100% of the width of the screen*/
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}


.intro-video #small { /*Hiding the small video when screen is greater than 600px*/
    display: none;
}

@media only screen and (max-width: 600px) { /*Hiding the big video when screen is less than 600px and showing the small video instead*/
.intro-video #big{
    display: none;
}
.intro-video #small {
    display: block;   
}
}

/* Centered text */
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    mix-blend-mode: difference;
    text-align: center;
}


/*-----------------------End of hero / intro section styling------------------------*/
    


/*-----------------------Start of Games banner styling------------------------*/

.games-banner .grid-container {
    background: url("Images/Games-banner-1.webp") no-repeat center center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns content to the left */
    text-align: left; /* Aligns text to the left */
    padding-left: 10%; 
    color: white;
}

.games-banner h1, .games-banner p{
    text-shadow: 4px 4px 4px #000000;
}

.games-banner h1{
    font-size: 3em;
    margin: 0.5em 0;
    font-weight: bold;
}

.games-banner p {
    font-size: 1em;
    margin: 0.25em 0 1em;
}

.games-banner .content {
    max-width: 70%;
    padding: 5%;
}

.games-banner .btn {
    background-color: #1E2532;
    color: white;
    border: none;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.games-banner .btn:hover {
    background-color: white;
    color: #1E2532;
}

@media only screen and (max-width: 600px) { /*Hiding the big video when screen is less than 600px and showing the small video instead*/
    .games-banner .grid-container {
        background: url("Images/Games-banner-2.webp") no-repeat center center;
        background-size: cover;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Aligns content to the left */
        text-align: center; /* Aligns text to the left */
        padding-left: 0%;
        color: white;
    }

    .games-banner .content {
        max-width: 100%;
    }
}
    

 /*-------------------Start of slideshow styling----------------*/  
/*-------------------End of slideshow styling----------------*/     