/* import poppins font*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body { /*Setting the entire body to be the Poppins font from google fonts*/
    font-family: 'Poppins', sans-serif;
    color: white;
}
/*Remove default css properties from button */
button{
    all: unset;
}

/*-----------------------Start of header styling------------------------*/

header {
    background: #1E2532;
    min-height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    transition: top 0.2s ease-in-out;
    z-index: 100;
}


.navbar-brand {
    font-weight: bold; 
}
.navbar-nav .nav-link {
    color: #FFF; /* For white text */
}
.navbar-nav .nav-link.active {
    border-bottom: 2px solid #3c4a64; /* Active item underline color */
}
.navbar-nav .nav-link:hover {
    color: #3c4a64; /* For white text */
}
.nav-icons a{
    font-size: 1.25rem; 
    color: #FFF; /* For white icons */
}
.nav-icons a:hover{
    color: #3c4a64; /* For white icons */
}

.navbar-collapse {
    background: #1E2532; 
  }

/*End of navigation bar styling*/


/*-----------------------End of header styling------------------------*/


/*-----------------------Start of hero /intro section styling------------------------*/
.intro-video {
    display: flex;
    position: relative; 
}

.intro-video video { /*Setting the video to be 100% of the width of the screen*/
    width: 100%;
    height: 100%; 
    object-fit: cover; 
}


.intro-video #small { /*Hiding the small video when screen is greater than 600px*/
    display: none;
}

@media only screen and (max-width: 600px) { /*Hiding the big video when screen is less than 600px and showing the small video instead*/
.intro-video #big{
    display: none;
}
.intro-video #small {
    display: block;   
}
}

/* Centered text */
.center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 100px;
    font-weight: bold;
    mix-blend-mode: difference;
    text-align: center;
}


/*-----------------------End of hero / intro section styling------------------------*/
    


/*-----------------------Start of Games banner styling------------------------*/

.games-banner .grid-container {
    background: url("Images/Games-banner-1.webp") no-repeat center center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Aligns content to the left */
    text-align: left; /* Aligns text to the left */
    padding-left: 10%; 
    color: white;
}

.games-banner h1, .games-banner p{
    text-shadow: 4px 4px 4px #000000;
}

.games-banner h1{
    font-size: 3em;
    margin: 0.5em 0;
    font-weight: bold;
}

.games-banner p {
    font-size: 1em;
    margin: 0.25em 0 1em;
}

.games-banner .content {
    max-width: 70%;
    padding: 5%;
}

.btn {
    background-color: #1E2532;
    color: white;
    border: none;
    padding: 1em 2em;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background-color: white;
    color: #1E2532;
}

@media only screen and (max-width: 600px) { /*Hiding the big video when screen is less than 600px and showing the small video instead*/
    .games-banner .grid-container {
        background: url("Images/Games-banner-2.webp") no-repeat center center;
        background-size: cover;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start; /* Aligns content to the left */
        text-align: center; /* Aligns text to the left */
        padding-left: 0%;
        color: white;
    }

    .games-banner .content {
        max-width: 100%;
    }
}
    

 /*-------------------Start of slideshow styling----------------*/  

/*-------------------End of slideshow styling----------------*/    

/*-------------------Start of product feature styling----------------*/  
.product-feature {
    padding: 10%;
    background-color: #3c4a64;
    overflow: hidden;
}

.product-feature img {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -2px rgba(0, 0, 0, 0.4);
}

.text-center h1{
    text-shadow:rgba(0, 0, 0, 0.4);
}

/*-------------------End of product feature styling----------------*/  


/*-------------------Start of PC banner styling----------------*/  
.pc-banner .grid-container{
    background: url("Images/PC-banner-1.webp") no-repeat center center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center; /* Aligns content to the left */
    text-align: center; /* Aligns text to the left */
    padding: 10%; 
    color: white;
}

.grid-container h1, .grid-container p{
    text-shadow: 4px 4px 4px #000000;
}

.grid-container h1{
    font-size: 3em;
    margin: 0.5em 0;
    font-weight: bold;
}

.grid-container p {
    font-size: 1em;
    margin: 0.25em 0 1em;
}

.grid-container .content {
    max-width: 70%;
    padding: 5%;
}

.grid-container .btn {
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4), 0 2px 4px -2px rgba(0, 0, 0, 0.4);
}


/*-------------------Start of Keyboard banner styling----------------*/  
.keyboard-banner .grid-container{
    background: url("Images/Keyboard-banner-1.webp") no-repeat center center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center; /* Aligns content to the left */
    text-align: center; /* Aligns text to the left */
    padding: 10%; 
    color: white;
}

/*-------------------Start of Mouse banner styling----------------*/  
.mouse-banner .grid-container{
    background: url("Images/Mouse-banner-1.png") no-repeat center center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center; /* Aligns content to the left */
    text-align: center; /* Aligns text to the left */
    padding: 10%; 
    color: white;
}


/*-------------------Start of Audio banner styling----------------*/  
.audio-banner .grid-container{
    background: url("Images/Audio-banner-1.jpg") no-repeat center center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center; /* Aligns content to the left */
    text-align: center; /* Aligns text to the left */
    padding: 10%; 
    color: white;
}



<<<<<<< HEAD
/*-------Login page styling------*/
.account-page {
    padding: 250px;
    background-image: url("images/1975 banner1.jpg");
    background-size: cover;
    background-position: center;
    font-size: 14px;
  }
  
  .form-container {
    background: white;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    overflow: hidden;
  }
  
  .form-container span {
    font-weight: bold;
    padding: 0 10px;
    color:#001689;
    cursor: pointer;
    width: 100px;
    display: inline-block;
  }
  
  .form-btn {
    display: inline-block;
  }
  
  .form-container form {
    width: 240px;
    margin: 0 30px;
    position: absolute;
    top: 90px;
    transition: transform 1s;
  }
  
  form input {
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #001689;
  }
  
  
  form .btn {
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    display: inline-block;
    background: #001689;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
  }
  
  form .btn:focus {
    outline: none;
  }
  
  #loginform {
    left: -500px;
  }
  
  #regform {
    left: 0;
  }
  
  form a {
    font-size: 12px;
  }
  
  #indicator {
    width: 100px;
    border: none;
    background: #001689;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
  }
  
  /*-------End of login page styling------*/


/*-------Start of gacha page styling------*/
.gacha-banner .grid-container{
    background: url("Images/Audio-banner-1.jpg") no-repeat center center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center; /* Aligns content to the left */
    text-align: center; /* Aligns text to the left */
    padding: 10%; 
    color: white;
=======


























































































/*-------------------Gacha CSS----------------*/ 

.gacha-body{
    background: #0F121F; /*Set background colour*/
}
.gacha-content{
    width: 85%;
    margin-left: 7.5%;
    margin-top: 10vh;
}

.gacha-banner{
    top: 2vh;
    position: relative;
    display: flex;
}

.gacha-banner-text{
    margin-top: 8%;
    margin-left: 10vw;
}

.gacha-banner-title{
    font-size: 32px;
    font-weight: 600;
}

.gacha-banner-subtitle{
    margin-top: 2vh;
    font-size: 21px;
    font-weight: 400;
}

.gacha-button{
    background-color: rgb(100,113,167,0.7);
    width: 9.1vw;
    height: 45px;
    margin-left: auto; /*Align to the right */
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /*Set the spacing between text and image */
}

.gacha-text{
    font-weight: 500;
    font-size: 18px;
    margin-left: -20%; /*Use negative to bring the text and image closer together */
}

.gacha-button-row{
    margin-left: 50%;
    display: flex;
    justify-content: space-between;
>>>>>>> c9cf838c54c2fc52638c7a415ca015a6b95334be
}